
# Python asosiy
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django secret fayllar
*.sqlite3
*.log
*.pot
*.mo
*.py~

media/
staticfiles/
static_root/


venv/
env/
ENV/
.venv/
.VENV/

.DS_Store
Thumbs.db
.idea/
.vscode/



**/migrations/*.py
**/migrations/*.pyc
!*/migrations/__init__.py
main/migrations/*




Pipfile
Pipfile.lock

.env
.env.*

